*{
    padding: 0;
    margin: 0;
}

body{
    background: #303030;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2% 10%;
}

.nav-head{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

nav p{
    color: #FFF;
    font-family: UnifrakturCook;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    user-select: none;
}

nav a{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}

#button{
    width: auto;
    height: auto;
    flex-shrink: 0;
    background: #0E67ED;
    padding: 08px 25px;
    pointer-events: none;
    user-select: none;
}

.background{
    top: -20%;
    left: 50%;
    position: absolute;
    user-select: none;
    z-index: -1;
    width: 50%;
}

.header{
    margin: 10% 0 0 0 ;
}

.header h3{
    position: relative;
    top: 10%;
    left: 15%;
    margin: 0 0 1% 0 ;
    color: #FFF;
    font-family: Roboto Serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
}

.header pre{
    position: relative;
    display: block;
    top: 30%;
    left: -10%;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto Serif;
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    user-select: none;
}

#solution{
    display: inline;
    color: #0E67ED;
    font-family: Roboto Serif;
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.checkbox{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 10% 0 0 15%;
}

#check{
    text-align: center;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    user-select: none;
}

#check img{
    display: flex;
    flex-direction: row;
}

.checkbox span{
    display: block;
    color: #FFF;
    font-family: Poppins;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
}

.about{
    position: relative;
    top: 10%;
    margin: 10% 0 0 0;
}

.about p{
    display: flex;
    justify-content: center;
    align-content: center;
    color: #0E67ED;
    font-family: Roboto Serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.6%;
    user-select: none;
}

.about h3{
    margin: 2% 30% 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto Serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 40%;
    word-wrap: break-word;
    user-select: none;
}

.accordion{
    margin: 5% 0 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.accord1,.accord2,.accord3{
    height: 20%;
    position: relative;
    margin: 5px 20% 0;
    width: 60%;
}

#line{
    position: relative;
    width: 100%;
    z-index: 1;
    height: 1px;
    user-select: none;
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.30);
}
.accord1,.accord2,.accord3 li{
    position: relative;
    top: 10px;
    color: #FFF;
    font-family: Roboto Serif;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#li::before {
    color: #FFF;
    font-family: Roboto Serif;
    font-size: 0.5rem;
    line-height: normal;
    margin: 0 100% 0 0 ;
}

#li:nth-child(1)::before{
    content: '1';
}

#li:nth-child(2)::before {
    content: '2';
}

#li:nth-child(3)::before {
    content: '3';
}

#back-arrow{
    position: relative;
    left: 95%;
    stroke-width: 3px;
    stroke: #FFF;
    width: 20px;
    height: 20px;
    user-select: none;
}

#later-text{
    width: 50%;
    margin: 5% 20% 0;
    color: #FFF;
    font-family: Roboto Serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#design{
    color: #0E67ED;
    font-family: Roboto Serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    word-wrap: break-word;
}

.new-sec{
    display: flex;
    width: 100%;
    margin: 10% 0 0;
    flex-direction: column;
    column-gap: 1.0rem;
}

#bgsec1{
    position: absolute;
    bottom: -125%;
    left: 50%;
    width: 15%;
    height: 35%;
    flex-shrink: 0;
    user-select: none;
}

#bgsec2{
    position: absolute;
    bottom: -120%;
    left: 70%;
    width: 15%;
    height: 60%;
    flex-shrink: 0;
    user-select: none;
}

.div1,.div2,.div3{
    width: 55%;
    margin: 2% 0 2% 10%;
}

#ht1ag{
    color: #FFF;
    font-family: Roboto Serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
}


#blue{
    color: #0E67ED;
    text-align: center;
    font-family: Roboto Serif;
    font-size: 0.9rem;
    font-style: normal;
    line-height: normal;
}

.new-sec a{
    position: relative;
    left: 50%;
    top: -20%;
    color: #0E67ED;
    font-family: Poppins;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

#ptag{
    color: #FFF;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
    margin: 2% 0 0;
}

#line-2{
    display: flex;
    justify-content: left;
    width: 60%;

}

#team{
    margin: 5% 0 0 ;
    width: 100%;
}

#team-into{
    display: flex;
    color: #0E67ED;
    font-family: Roboto Serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 136.6%;
    margin: 0 0 0 10%;
}

#team h4{
    color: #FFF;
    font-family: Roboto Serif;
    font-size: 1.38rem;
    font-style: normal;
    font-weight: 550;
    line-height: 136.6%;
    width: 60%;
    word-wrap: break-word;
    margin: 1% 10% 0;
    word-spacing: 0.1rem;
    word-break:break-all;
}

.img-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 3% 0 10% 0;
}

.img-container div:nth-child(1) {
    margin: 0 2.5% 0 20%;
}

.img-container div {
    margin: 0 0 0 2.5% ;
}


.img-container div p {
    color: #FFF;
    font-family: Poppins;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 136.6%;
}
.img-container div span {
    color: #FFF;
    font-family: Roboto Serif;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 500;
    line-height: 136.6%;
}

.portfolio{
    display: flex;
    width: auto;
    flex-direction: column;
}

.portfolio p{
    display: flex;
    justify-content: right;
    color: #0E67ED;
    margin: 0 5% 0 0 ;
    text-align: right;
    font-family: Roboto Serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 136.6%;
}

#portfolio{
    position: relative;
    left: 40.5%;
    justify-content: right;
    color: #FFF;
    width: 55%;
    font-family: Roboto Serif;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 650;
    line-height: 136.6%;
    word-wrap: break-word;
    word-break: break-all;
    /* 49.176px */  
}

#new-blue{
    color: #0E67ED;
    font-family: Roboto Serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 136.6%;
}

.arrow{
    display: flex;

}

#arrow-foward,#arrow-back{
    width: 2.5%;
    height: 2.5%;
}

#arrow-back{
    position: relative;
    left: 87%;
}

#arrow-foward {
    position: relative;
    left: 90%;
}

.pic{
    display: flex;
    flex-direction: row;
}

.pic img{
    width: 20%;
    height: 10%;
}